body{
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul button{
    border: none;
    background: none;
    color: white;
}

.first-third{
    display: flex;
}

.header{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex: 1;
    background-color: #1f2937;
    color: white;
}

.left-side{
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    padding: 100px;
    text-align: left;
    gap: 50px;
}

.infortmation{
    flex-direction: column;
}

.text,
.subtext{
    text-align: left;
}

.text{
    font-weight: extra-bold; 
    font-size: 48px;
    color: #F9FAF8;
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up{
    border: 2px;
    background: #3882F6;
    align-self: flex-start;
    color: white;
    padding: 12px;
    margin: 4px 2px;
    text-decoration: none;
    border-radius: 12px;
}

.image{
    align-self: flex-end;
    padding: 50px 75px;
    background: grey;

}